body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.ant-btn-primary:disabled{
    background-color: #262626!important;
    color: white;
    border: 0px
}

.ant-input-data-count {
    color: white!important;
}

.ant-upload-list-item-name { 
  color: #fafafa !important; 
}

.ant-upload-icon > .anticon { 
    color: #fafafa !important; 
}

.ant-upload-list-item .anticon { 
    color: #fafafa !important; 
}